@font-face {
  font-family: "Inter regular";
  src: url("../fonts/Inter-Regular.eot");
  src: local("Inter Regular"), local("Inter-Regular"), url("../fonts/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter bold";
  src: url("../fonts/Inter-Bold.eot");
  src: local("Inter Bold"), local("Inter-Bold"), url("../fonts/Inter-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff"), url("../fonts/Inter-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Inter SemiBold";
  src: url("../fonts/Inter-SemiBold.eot");
  src: local("Inter Semi Bold"), local("Inter-SemiBold"), url("../fonts/Inter-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
* {
  font-family: "Inter regular";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: #1D40F3;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.nav {
  width: 100%;
  height: 8.1vh;
  background: #131313;
  border-bottom: 1px solid #202224;
  display: flex;
  align-items: center;
}

.nav__content {
  padding: 0 2.08vw;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.395vw;
}
.nav__content .nav__logo {
  height: 2.395vw;
}

.head__container {
  display: flex;
}

.header {
  background-image: url("../image/header-bg.png");
  min-height: fit-content(20em);
  padding-bottom: 2.08vw;
}

.mobile__menu {
  position: fixed;
  right: -100%;
  z-index: 10;
  transition: right 0.3s;
  max-width: 364px;
  width: 100%;
  min-height: 364px;
  height: auto;
  background: #131313;
  padding: 24px 40px;
}
.mobile__menu .__menu__button-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #202224;
  padding-bottom: 24px;
}
.mobile__menu .__menu__button-content .button__cart {
  margin-left: 0;
  width: 138px;
}
.mobile__menu .__menu__button-content .button_login {
  width: 138px;
}
.mobile__menu .__menu-ul {
  list-style: none;
}
.mobile__menu .__menu-ul .__menu-list {
  width: 100%;
  border-bottom: 1px solid #202224;
  height: 56px;
  display: flex;
  align-items: center;
}
.mobile__menu .__menu-ul .__menu-list .__menu-href {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
}
.mobile__menu .__menu-ul .__menu-list .__menu-href img {
  opacity: 0;
  position: absolute;
  right: 50%;
  transition: 0.5s;
}
.mobile__menu .__menu-ul .__menu-list .__menu-href:hover img {
  opacity: 1;
  right: 0;
}

.mobile__menu-active {
  right: 0;
  position: absolute;
}

.content__wrap {
  flex: 1 0 auto;
  width: 100%;
  padding: 0 2.08vw;
  margin: 2.08vw auto;
  display: flex;
  justify-content: space-between;
}

.content__wrap-viktoriia {
  padding: 0 0 0 2.08vw;
  margin: 0 auto 0 auto;
}

.article__content {
  width: 100%;
}
.article__content h1 {
  font-size: 1.5vw;
  width: 100%;
}

.victoria__article-content {
  padding-right: 1.25vw;
}
.victoria__article-content .article__text-block {
  padding: 2.08vw 0 0 0;
}
.victoria__article-content .article__text-block h2 {
  font-size: 1.14vw;
  line-height: 150%;
  letter-spacing: -0.04em;
  color: #000000;
}
.victoria__article-content .article__text-block .__title-sec {
  margin-top: 1.25vw;
}
.victoria__article-content .article__text-block p {
  max-width: 69.8vw;
  width: 100%;
  font-weight: 400;
  font-size: 1.14vw;
  line-height: 150%;
  letter-spacing: -0.04em;
  color: #000000;
  margin-top: 1.25vw;
}
.victoria__article-content .article__text-block p a {
  color: #000;
}
.victoria__article-content .victoriia__views-block {
  margin-top: 3.125vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 2.5vw;
  opacity: 0.6;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #EDEDED;
  padding: 0.625vw 0px;
  gap: 1.25vw;
}
.victoria__article-content .victoriia__views-block .__icon-block {
  display: flex;
  align-items: center;
  font-size: 0.83vw;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #000000;
}
.victoria__article-content .victoriia__views-block .__icon-block div {
  display: flex;
  align-items: center;
}
.victoria__article-content .victoriia__views-block .__icon-block div .__views {
  margin-left: 0.3125vw;
}
.victoria__article-content .victoriia__views-block .__icon-block span {
  margin-left: 0.677vw;
  display: flex;
  align-items: center;
}
.victoria__article-content .victoriia__views-block .__icon-block span .__likes {
  margin-left: 0.3125vw;
}
.victoria__article-content .victoriia__views-block .__icon-block img {
  width: 1.041vw;
}
.victoria__article-content .victoriia__views-block h3 {
  font-size: 0.83vw;
}

.dubai__startups-content {
  padding-top: 2.08vw;
}
.dubai__startups-content .glocal__content__row-block {
  margin-top: 2.0833vw;
  gap: 1.25vw;
  display: flex;
  flex-wrap: wrap;
}
.dubai__startups-content .glocal__content__row-block .glocal__col-block {
  width: 23.479vw;
  min-width: 322px;
  height: auto;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  padding: 1.041vw;
}
.dubai__startups-content .glocal__content__row-block .glocal__col-block .__logo {
  width: 3.541vw;
}
.dubai__startups-content .glocal__content__row-block .glocal__col-block .__glocal-ul {
  display: flex;
  margin-top: 1.302vw;
}
.dubai__startups-content .glocal__content__row-block .glocal__col-block .__glocal-ul .__glocal-list {
  font-weight: 500;
  font-size: 0.9375vw;
  line-height: 120%;
  letter-spacing: -0.04em;
  color: #B4B4B4;
}
.dubai__startups-content .glocal__content__row-block .glocal__col-block .__glocal-ul .__glocal-list:first-child {
  list-style: none;
  margin-right: 1.302vw;
}
.dubai__startups-content .glocal__content__row-block .glocal__col-block .__glocal-text {
  font-weight: 600;
  font-size: 1.3541vw;
  line-height: 120%;
  letter-spacing: -0.04em;
  color: #000000;
  margin-top: 0.625vw;
}
.dubai__startups-content .glocal__content-block .__dropdown-shop {
  margin-top: 40px;
}
.dubai__startups-content .glocal__content-block .__shop-block {
  margin-top: 40px;
}
.dubai__startups-content .glocal__content-block .__shop-block .events__cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dubai__startups-content .glocal__content-block .__shop-block .events__cart h2 {
  margin: 0;
  padding: 20px;
  height: 100%;
}
.dubai__startups-content .glocal__content-block .__shop-block .events__cart .__col-footer {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.125vw;
  border-top: 1px solid #EDEDED;
}
.dubai__startups-content .glocal__content-block .__shop-block .events__cart .__col-footer .__footer-likes {
  display: flex;
  align-items: center;
  font-size: 1.25vw;
  font-family: "Inter SemiBold";
}
.dubai__startups-content .glocal__content-block .__shop-block .events__cart .__col-footer .__footer-href {
  font-size: 0.729vw;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #B4B4B4;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dubai__startups-content .glocal__content-block .__shop-block .events__cart .__col-footer .__footer-href img {
  height: 12px;
  width: 12px;
  margin-left: 10px;
}
.dubai__startups-content .glocal__content-block .__events-block h2 {
  font-size: 1.35416vw;
}
.dubai__startups-content .glocal__content-block .__events-block .news__data-content .__data, .dubai__startups-content .glocal__content-block .__events-block .news__data-content .__authour {
  font-size: 0.9375vw;
}
.dubai__startups-content .glocal__content-block .__events__type-dropdown {
  display: flex;
}
.dubai__startups-content .glocal__content-block .__events__type-dropdown .__dropdown-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #B4B4B4;
  margin-bottom: 8px;
}
.dubai__startups-content .glocal__content-block .__events__type-dropdown .__dropdown__list-block {
  background: #F5F5F5;
  border-radius: 4px;
  padding: 0 12px;
  height: 40px;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #000000;
}
.dubai__startups-content .glocal__content-block .__events__type-dropdown .__dropdown__list-block .__dropdown-list {
  background: #F5F5F5;
}
.dubai__startups-content .glocal__content-block .__events__type-dropdown .__dropdown-block:nth-child(2) {
  margin-left: 20px;
}
.dubai__startups-content .glocal__content-block .__about-block {
  display: flex;
  align-items: flex-end;
}
.dubai__startups-content .glocal__content-block .__about-block .__about-title {
  margin-left: 1.25vw;
  font-weight: 600;
  font-size: 1.458vw;
  line-height: 120%;
  letter-spacing: -0.04em;
  color: #000000;
  max-width: 36.45vw;
}
.dubai__startups-content .glocal__content-block .__about-block img {
  width: 16.66vw;
}
.dubai__startups-content .glocal__content-block .__about-paragraph {
  font-weight: 400;
  font-size: 1.0416vw;
  line-height: 150%;
  letter-spacing: -0.04em;
  color: #000000;
  margin-top: 2.083vw;
  max-width: 64.89vw;
}
.dubai__startups-content .glocal__content-block .__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.25vw;
  border-bottom: 1px solid #EDEDED;
  margin-top: 1.25vw;
}
.dubai__startups-content .glocal__content-block .__block:first-child {
  margin-top: 2.083vw;
}
.dubai__startups-content .glocal__content-block .__block .__block-content {
  display: flex;
}
.dubai__startups-content .glocal__content-block .__block .__block-content .__block-logo {
  width: 6.758vw;
  height: 6.758vw;
}
.dubai__startups-content .glocal__content-block .__block .__text-block {
  min-height: 100%;
  margin-left: 1.25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dubai__startups-content .glocal__content-block .__block .__text-block .__title {
  font-weight: 600;
  font-size: 1.25vw;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #000000;
}
.dubai__startups-content .glocal__content-block .__block .__text-block .__paragraph {
  max-width: 26.041vw;
  width: 100%;
  margin-bottom: 1.5625vw;
  font-weight: 400;
  font-size: 0.9375vw;
  line-height: 150%;
  letter-spacing: -0.04em;
  color: #000000;
  opacity: 0.6;
}
.dubai__startups-content .glocal__content-block .__block .__text-block .__icon-block {
  display: flex;
  justify-content: space-between;
  max-width: 6.66vw;
  width: 100%;
}
.dubai__startups-content .glocal__content-block .__block .__likes-block {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 3.33vw;
  width: 100%;
  max-width: 4vw;
  height: 2.083vw;
  border: 1px solid #EDEDED;
  border-radius: 8px;
}
.dubai__startups-content .glocal__content-block .__block .__likes-block img {
  width: 1.25vw;
}
.dubai__startups-content .glocal__content-block .__block .__likes-block span {
  margin-left: 0.2604vw;
  font-weight: 500;
  font-size: 1.041vw;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #000000;
}

.shop__content .awareness__block {
  margin-top: 0;
}

.startup__of__day-content .recent__news-block .recent__news-row .__news-col {
  padding: 0;
}
.startup__of__day-content .recent__news-block .recent__news-row .__news-col .__col-content {
  padding: 20px;
  height: 100%;
}
.startup__of__day-content .recent__news-block .recent__news-row .__news-col .__col-footer {
  padding: 20px;
  margin: 0;
}

.recent__news-block {
  margin: 4.166vw 0 2.08vw 0;
  width: 100%;
}
.recent__news-block .__block-title {
  font-weight: 700;
  font-size: 1.66vw;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #000000;
}
.recent__news-block .recent__news-row {
  display: flex;
  margin-top: 1.25vw;
  flex-wrap: wrap;
  gap: 1.25vw;
}
.recent__news-block .recent__news-row .__news-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.04vw;
  width: 23.52vw;
  min-width: 303px;
  height: auto;
  min-height: 24.6vw;
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  border-radius: 12px;
}
.recent__news-block .recent__news-row .__news-col .__col-content .__content-block {
  display: flex;
  flex-direction: column;
}
.recent__news-block .recent__news-row .__news-col .__news-date {
  font-size: 0.937vw;
  line-height: 150%;
  font-weight: 500;
  letter-spacing: -0.04em;
  color: #B4B4B4;
}
.recent__news-block .recent__news-row .__news-col .__news-name {
  font-size: 0.937vw;
  line-height: 150%;
  font-weight: 500;
  letter-spacing: -0.04em;
  color: #000000;
  margin-top: 0.208vw;
}
.recent__news-block .recent__news-row .__news-col .__news__col-title {
  font-size: 1.354vw;
  line-height: 120%;
  letter-spacing: -0.04em;
  font-family: "Inter SemiBold";
  color: #222222;
  margin-top: 1.041vw;
}
.recent__news-block .recent__news-row .__news-col .__news__col__sub-title {
  font-weight: 400;
  font-size: 1.04vw;
  margin-top: 0.83vw;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #000000;
}
.recent__news-block .recent__news-row .__news-col .__col-footer {
  margin: 0 -1.041vw -1.041vw -1.041vw;
  padding: 0 1.041vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.125vw;
  border-top: 1px solid #EDEDED;
}
.recent__news-block .recent__news-row .__news-col .__col-footer .__footer-likes {
  display: flex;
  align-items: center;
  font-size: 0.83vw;
}
.recent__news-block .recent__news-row .__news-col .__col-footer .__footer-likes .__likes {
  margin-left: 6px;
}
.recent__news-block .recent__news-row .__news-col .__col-footer .__footer-likes img {
  width: 1.04vw;
}
.recent__news-block .recent__news-row .__news-col .__col-footer .__footer-href {
  font-size: 1.04vw;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #02B6FB;
  text-decoration: none;
}

.startup__of__day-content .recent__news-block {
  margin: 2.08vw 0 2.08vw 0;
}
.startup__of__day-content .recent__news-block .__footer-likes .__likes {
  margin: 0 2px 0 0;
}

.head__list {
  display: flex;
  align-items: center;
  list-style: none;
}
.head__list .head__li {
  margin-left: 1.25vw;
}
.head__list .head__li .list__href {
  position: relative;
  text-decoration: none;
  font-size: 0.8vw;
  line-height: 19px;
  color: #FFFFFF;
}
.head__list .head__li .list__href:hover {
  color: rgba(255, 255, 255, 0.9);
}
.head__list .head__li .list__href:hover::before {
  width: 100%;
}
.head__list .head__li .list__href::before {
  content: "";
  display: block;
  width: 0%;
  height: 0.052vw;
  background: #fff;
  position: absolute;
  right: 0;
  bottom: -0.26vw;
  transition: 0.3s;
}

.button__cart {
  text-decoration: none;
  margin-left: 1.25vw;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  width: 5.3vw;
  height: 2.08vw;
  color: #fff;
  font-size: 0.83vw;
  line-height: 19px;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button__cart img {
  width: 1vw;
  position: relative;
  left: -0.52vw;
}

.button_login {
  margin-left: 0.41vw;
  width: 3.28vw;
  height: 2.08vw;
  background: #02B6FB;
  border-radius: 4px;
  text-decoration: none;
  font-size: 0.83vw;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

.list_menu {
  display: none;
  grid-row-start: 2;
  justify-self: end;
  text-align: right;
  grid-column-start: 2;
  margin-top: -15px;
}
.list_menu .head__li {
  margin-top: 5px;
}

.list__menu-active {
  display: block;
}

.nav__active {
  align-items: flex-start;
  height: 200px;
}

.nav__content-active {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 75px 1fr;
}

.header-active {
  min-height: 705px;
}

.menu__icon {
  justify-self: end;
  color: #fff;
  cursor: pointer;
  font-size: 24px !important;
}

.menu__icon-content {
  display: none;
}
.menu__icon-content .menu__close-ico {
  font-size: 26px;
  display: none;
}

.menu__icon-content .__fa__close-active {
  display: block;
}

.__cart__button-active {
  display: none;
}

.menu__icon-content .__menu__icon-active {
  display: none;
}

.header__title {
  font-size: 2.9vw;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  font-family: "Inter SemiBold";
  width: 100%;
}

.header__content {
  width: 100%;
  padding: 0 2.08vw;
  margin: 0 auto;
  margin-top: 4.16vw;
}
.header__content .content__icon-img {
  margin-top: 4.16vw;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.breadcrumb {
  margin-bottom: 2.08vw;
}
.breadcrumb ul {
  display: flex;
  list-style: none;
}
.breadcrumb ul li {
  font-size: 0.83vw;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  opacity: 0.6;
  margin-left: 0.416vw;
}
.breadcrumb ul li a {
  text-decoration: none;
  color: #FFFFFF;
}
.breadcrumb ul li:first-child {
  opacity: 1;
}

.menu {
  width: 14vw;
}
.menu .menu__ul {
  position: sticky;
  list-style: none;
  top: 2.083vw;
}
.menu .menu__list {
  margin-top: 0.83vw;
}
.menu .menu__list a:first-child {
  margin-top: 0;
}
.menu .munu__href {
  font-weight: 600;
  font-size: 1.25vw;
  line-height: 110%;
  letter-spacing: -0.04em;
  position: relative;
  color: #000000;
  text-decoration: none;
}
.menu .munu__href::before {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  border-bottom: 2px;
  background: #000;
  position: absolute;
  bottom: -5px;
  transition: 0.3s;
}
.menu .munu__href:hover::before {
  width: 100%;
}

.viktoriia__menu {
  padding: 2.08vw 2.08vw 0 1.25vw;
  width: 28.54vw;
  background: #F5F7F9;
}
.viktoriia__menu .__menu-title {
  font-size: 1.66vw;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #000000;
}
.viktoriia__menu .__menu__column-content {
  margin-top: 2.08vw;
}
.viktoriia__menu .__menu__column-content .__content-block {
  margin-top: 1.041vw;
  background: #FFFFFF;
  border-radius: 8px;
  height: auto;
  padding: 1.041vw;
}
.viktoriia__menu .__menu__column-content .__content-block .__block-paragraph {
  font-size: 0.83vw;
  line-height: 120%;
  letter-spacing: -0.04em;
  color: #000000;
  opacity: 0.6;
}
.viktoriia__menu .__menu__column-content .__content-block .__block-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.041vw;
}
.viktoriia__menu .__menu__column-content .__content-block .__block-footer .__price {
  font-size: 1.145vw;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #131313;
}
.viktoriia__menu .__menu__column-content .__content-block .__block-footer img {
  width: 1.25vw;
}
.viktoriia__menu .__menu-content {
  position: sticky;
  top: 2.083vw;
}
.viktoriia__menu .__menu-content .menu__ul {
  margin-top: 4.16vw;
}
.viktoriia__menu .__menu-content .menu__ul .__ul-title {
  font-size: 1.87vw;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #000000;
  margin-bottom: 2.08vw;
}
.viktoriia__menu .__menu-content .menu__ul .menu__list .munu__href {
  font-size: 1.041vw;
}

.startups__dubai-menu {
  padding-bottom: 2.083vw;
}

.baner__title {
  width: 100%;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 0 1fr;
}
.baner__title .baner__sec {
  grid-column-start: 2;
  justify-self: end;
  grid-row-start: 2;
  display: block;
  width: 100%;
  align-self: stretch;
}
.baner__title .baner__sec img {
  width: 100%;
}
.baner__title h1 {
  grid-column-start: 1;
  grid-row-start: 1;
}
.baner__title .baner__main {
  align-self: stretch;
  grid-column-start: 1;
  grid-row-start: 2;
  align-self: end;
  width: 95%;
}

.news__content {
  margin-top: 4.16vw;
}
.news__content h2 {
  font-size: 1.458vw;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #000000;
}
.news__content hr {
  margin-top: 0.62vw;
}

.news__content-block {
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  border-radius: 8px;
  margin-top: 2.08vw;
  display: flex;
}
.news__content-block img {
  width: 16.7vw;
}

.news__data-content {
  display: flex;
}
.news__data-content .__data {
  font-weight: 500;
  font-size: 0.72vw;
  line-height: 150%;
  letter-spacing: -0.04em;
  color: #B4B4B4;
}
.news__data-content .__authour {
  margin-left: 1.25vw;
  font-weight: 500;
  font-size: 0.72vw;
  line-height: 150%;
  letter-spacing: -0.04em;
  color: #000000;
}

.news__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.25vw;
}
.news__block .news__link {
  font-weight: 500;
  font-size: 0.72vw;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #38B4E3;
  text-decoration: none;
  margin-top: 1.25vw;
}
.news__block .news__block-title {
  font-size: 1.14vw;
  line-height: 110%;
  font-weight: 600;
  letter-spacing: -0.04em;
  margin-top: 0.62vw;
  color: #000000;
  max-width: 18.2vw;
  width: 100%;
}
.news__block .news__block_sub-title {
  font-weight: 400;
  font-size: 0.83vw;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #000000;
  margin-top: 1.25vw;
  max-width: 38.69vw;
  width: 100%;
}

.awareness__block {
  padding: 1.25vw;
  margin-top: 2.08vw;
  background: url("../image/awareness-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 0.41vw;
  height: 10vw;
  width: 100%;
}
.awareness__block .awareness__block-line {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.awareness__block .awareness__block-line p {
  font-weight: 600;
  font-size: 1.66vw;
  line-height: 2.03125vw;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  max-width: 31.25vw;
  width: 100%;
}
.awareness__block .awareness__block-line a {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 0.83vw;
  line-height: 0.98vw;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  text-decoration: none;
}
.awareness__block .awareness__block-line a img {
  margin-left: 0.93vw;
}

.events__content-wrap {
  margin-top: 4.17vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}

.events__cart {
  border: 1px solid #EDEDED;
  border-radius: 0.83vw;
  max-width: 23.5vw;
  width: 100%;
  height: auto;
}
.events__cart img {
  width: 100%;
}
.events__cart h2 {
  font-size: 2.29vw;
  line-height: 120%;
  letter-spacing: -0.04em;
  color: #222222;
  margin: 2.08vw 2.08vw 1.67vw 2.08vw;
}
.events__cart p {
  margin: 0 2.08vw 2.08vw 2.08vw;
  font-size: 0.83vw;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #000000;
}
.events__cart .news__data-content {
  margin-top: -0.52vw;
  background: #000000;
  height: 4.69vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.08vw;
}
.events__cart .news__data-content .__data {
  font-size: 1.46vw;
  line-height: 150%;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}
.events__cart .news__data-content .__authour {
  font-size: 1.46vw;
  line-height: 150%;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}

.startups__content .news__content-wrap .news__block .news__block-title {
  max-width: 43.8vw;
}

.startups__content .news__content-wrap .news__content-block {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2.5vw 0;
  margin-top: 2.5vw;
}
.startups__content .news__content-wrap .news__content-block img {
  height: 16.7vw;
}

.apply__block {
  border-bottom: 1px solid #EDEDED;
  padding-bottom: 2.083vw;
}
.apply__block .__title {
  font-weight: 600;
  font-size: 1.458vw;
  line-height: 1.5vw;
}
.apply__block .apply__button {
  width: 6.45vw;
  height: 2.6vw;
  background: #000000;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.041vw;
  line-height: 0.98vw;
  margin-top: 0.83vw;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 4.17vw;
  flex: 0 0 auto;
  background: #fff;
  width: 100%;
  height: 20.2vw;
  padding: 2vw 2vw 1.67vw 2vw;
}
.footer .footer__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.footer .footer__content .content__logo {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.footer .footer__content .content__logo img {
  width: 11.45vw;
}
.footer .footer__content .content__logo p {
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #000000;
  font-size: 0.83vw;
}
.footer .footer__content .content__list {
  display: flex;
}
.footer .footer__content .content__list .__list-block {
  margin-left: 2.6vw;
  list-style: none;
}
.footer .footer__content .content__list .__list-block .__item-title {
  margin-top: 0;
  font-weight: 600;
  font-size: 0.83vw;
  line-height: 1.98vw;
  color: #000000;
}
.footer .footer__content .content__list .__list-block .__item {
  font-size: 0.83vw;
}
.footer .footer__content .content__list .__list-block .__item a {
  font-weight: 400;
  font-size: 0.83vw;
  line-height: 1.98vw;
  color: #000000;
  text-decoration: none;
}
.footer .footer__content .content__list .__list-block .__item a:hover {
  color: #1D40F3;
}

.footer__viktoriia {
  margin-top: 0;
}

.footer_crunch, .accordion__content {
  display: none;
}

.accordion__content {
  max-width: 343px;
  width: 100%;
  margin: 0 auto;
  margin-top: 45px;
}

.accordion {
  max-width: 343px;
  width: 100%;
  background: none;
  cursor: pointer;
  padding: 15px 10px;
  font-weight: 600;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 18px;
  line-height: 1.98vw;
  color: #000;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion:hover {
  color: rgba(0, 0, 0, 0.6588235294);
}

.panel {
  padding: 1.87vw;
  background-color: white;
  display: none;
  overflow: hidden;
  height: auto;
  min-height: 10.4vw;
}
.panel .__list-block {
  margin-left: 2.6vw;
  list-style: none;
}
.panel .__list-block .__item-title {
  margin-top: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.98vw;
  margin-top: 1.67vw;
  color: #000000;
}
.panel .__list-block .__item {
  margin-top: 10px;
}
.panel .__list-block .__item a {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.98vw;
  color: #000000;
  text-decoration: none;
}

@media (max-width: 1440px) {
  .nav__content {
    padding: 0 40px;
  }
  .nav__content .nav__logo {
    width: 220px;
    height: 46px;
  }
  .head__list .head__li .list__href {
    font-size: 16px;
  }
  .nav {
    height: 77px;
  }
  .nav__active {
    align-items: flex-start;
    height: 200px;
  }
  .button__cart {
    width: 103px;
    height: 40px;
    font-size: 16px;
    line-height: 19px;
    margin-left: 24px;
  }
  .button_login {
    width: 63px;
    height: 40px;
    font-size: 16px;
    line-height: 19px;
    margin-left: 8px;
  }
  .button__cart img {
    width: 20px;
  }
  .header__title {
    font-size: 56px;
  }
  .head__list .head__li {
    margin-left: 24px;
  }
  .content__wrap {
    padding: 0 40px;
  }
  .content__wrap {
    margin: 40px auto;
  }
  .article__content h1 {
    font-size: 32px;
  }
  .menu .munu__href {
    font-size: 24px;
  }
  .menu {
    width: 270px;
  }
  .menu .menu__list {
    margin-top: 16px;
  }
  .news__content h2 {
    font-size: 28px;
  }
  .news__data-content .__data, .news__data-content .__authour {
    font-size: 14px;
  }
  .news__block .news__link {
    font-size: 14px;
  }
  .news__block .news__block-title {
    font-size: 22px;
    max-width: 337px;
  }
  .news__block .news__block_sub-title {
    font-size: 16px;
    margin-top: 24px;
    max-width: 90%;
  }
  .startups__content .news__content-wrap .news__content-block img {
    max-height: 320px;
    min-height: 240px;
    max-width: none;
    height: auto;
    width: auto;
  }
  .awareness__block {
    height: 192px;
    padding: 24px;
  }
  .awareness__block .awareness__block-line {
    margin-top: 24px;
  }
  .awareness__block .awareness__block-line p {
    line-height: 39px;
    font-size: 32px;
    max-width: 600px;
  }
  .awareness__block .awareness__block-line a {
    font-size: 16px;
    line-height: 19px;
  }
  .awareness__block .awareness__block-line a img {
    margin-left: 8px;
  }
  .news__content-block img {
    max-width: 322px;
    width: 100%;
  }
  .events__cart h2 {
    margin: 20px 20px 16px 20px;
  }
  .events__cart p {
    margin: 0 20px 20px 20px;
    font-size: 16px;
  }
  .events__cart .news__data-content {
    height: 45px;
    padding: 0 20px;
  }
  .events__cart .news__data-content {
    margin-top: -10px;
  }
  .events__cart .news__data-content .__data, .events__cart .news__data-content .__authour {
    font-size: 14px;
  }
  .startups__content .news__content-wrap .news__block .news__block-title {
    max-width: 450px;
    width: 100%;
    margin-top: 12px;
  }
  .header {
    min-height: 580px;
  }
  .header .header__content .content__icon-img img {
    gap: 12px;
  }
  .news__block .news__link {
    margin-top: 24px;
  }
  .footer {
    padding: 40px 40px 20px 40px;
  }
  .footer .footer__content {
    padding: 0 0 0 0;
  }
  .victoria__article-content .article__text-block h2 {
    font-size: 22px;
  }
  .victoria__article-content .article__text-block p {
    font-size: 16px;
  }
  .victoria__article-content .victoriia__views-block .__icon-block div {
    font-size: 12px;
  }
  .victoria__article-content .victoriia__views-block .__icon-block span {
    font-size: 12px;
  }
  .content__wrap-viktoriia {
    padding: 0 0 0 40px;
    margin: 0 auto 0 auto;
  }
  .victoria__article-content .victoriia__views-block {
    height: 48px;
  }
  .victoria__article-content .victoriia__views-block h3 {
    font-size: 16px;
  }
  .recent__news-block .__block-title {
    font-size: 28px;
  }
  .recent__news-block .recent__news-row {
    margin-top: 24px;
  }
  .recent__news-block {
    margin: 80px 0 40px 0;
  }
  .recent__news-block .recent__news-row .__news-col {
    min-height: 397px;
    padding: 20px;
    min-width: 0;
    width: 100%;
    max-width: 303px;
  }
  .recent__news-block .recent__news-row .__news-col .__news-date {
    font-size: 14px;
  }
  .recent__news-block .recent__news-row .__news-col .__news-name {
    margin-top: 4px;
    font-size: 14px;
  }
  .recent__news-block .recent__news-row .__news-col .__news__col-title {
    font-size: 22px;
  }
  .recent__news-block .recent__news-row .__news-col .__news__col__sub-title {
    font-size: 16px;
    margin-top: 16px;
  }
  .recent__news-block .recent__news-row .__news-col .__col-footer {
    margin: 0 -20px -20px -20px;
    padding: 0 20px;
    height: 60px;
  }
  .recent__news-block .recent__news-row .__news-col .__col-footer .__footer-likes {
    font-size: 12px;
  }
  .recent__news-block .recent__news-row .__news-col .__col-footer .__footer-likes img {
    width: 15px;
  }
  .recent__news-block .recent__news-row .__news-col .__col-footer .__footer-href {
    font-size: 16px;
  }
  .header__viktoriia {
    min-height: 328px;
    height: auto;
  }
  .breadcrumb ul li {
    font-size: 16px;
  }
  .viktoriia__menu {
    max-width: 418px;
    width: 100%;
  }
  .viktoriia__menu .__menu-title {
    font-size: 32px;
  }
  .viktoriia__menu .__menu__column-content .__content-block .__block-paragraph {
    font-size: 16px;
  }
  .viktoriia__menu .__menu__column-content .__content-block .__block-footer {
    margin-top: 20px;
  }
  .viktoriia__menu .__menu__column-content .__content-block .__block-footer .__price {
    font-size: 22px;
  }
  .viktoriia__menu .__menu__column-content .__content-block .__block-footer img {
    width: 24px;
  }
  .viktoriia__menu .menu__ul .munu__href {
    font-size: 16px;
  }
  .viktoriia__menu .menu__ul .__ul-title {
    font-size: 32px;
  }
  .footer__viktoriia .footer__content .content__list .__list-block {
    margin-left: 45px;
  }
  .footer__viktoriia .footer__content .content__list .__list-block .__item {
    margin-top: 16px;
    font-size: 16px;
  }
  .footer .footer__content .content__list .__list-block .__item-title {
    margin-top: 0;
  }
  .footer__viktoriia .footer__content .content__list .__list-block .__item a {
    font-size: 16px;
  }
  .footer__viktoriia {
    height: 389px;
  }
  .footer .footer__content .content__logo img {
    max-width: 220px;
    width: 100%;
  }
  .footer .footer__content .content__logo p {
    font-size: 16px;
  }
  .victoria__article-content .victoriia__views-block .__icon-block img {
    width: 24px;
  }
  .victoria__article-content .victoriia__views-block .__icon-block span img {
    width: 16px;
  }
  .victoria__article-content .victoriia__views-block .__icon-block span {
    margin-left: 25px;
  }
  .victoria__article-content .victoriia__views-block .__icon-block div .__views {
    margin-left: 6px;
  }
  .victoria__article-content .victoriia__views-block .__icon-block span .__likes {
    margin-left: 6px;
  }
  .victoria__article-content .article__text-block {
    padding: 40px 0 0 0;
  }
  .victoria__article-content .article__text-block p {
    margin-top: 24px;
  }
  .victoria__article-content .article__text-block .__title-sec {
    margin-top: 24px;
  }
  .victoria__article-content .victoriia__views-block {
    margin-top: 60px;
  }
  .viktoriia__menu .__menu-content .menu__ul .menu__list .munu__href {
    font-size: 16px;
  }
  .viktoriia__menu .__menu-content .menu__ul .__ul-title {
    margin-bottom: 40px;
    font-size: 32px;
  }
  .viktoriia__menu .__menu-content .menu__ul {
    margin-top: 80px;
  }
  .apply__block {
    border-bottom: 1px solid #EDEDED;
    padding-bottom: 40px;
  }
  .apply__block .__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
  .apply__block .apply__button {
    width: 124px;
    height: 50px;
    background: #000000;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-top: 16px;
  }
  .dubai__startups-content {
    padding-top: 40px;
  }
  .dubai__startups-content .glocal__content-block .__block {
    padding-bottom: 24px;
    margin-top: 24px;
  }
  .dubai__startups-content .glocal__content-block .__block:first-child {
    margin-top: 40px;
  }
  .dubai__startups-content .glocal__content-block .__block .__block-content {
    display: flex;
  }
  .dubai__startups-content .glocal__content-block .__block .__block-content .__block-logo {
    width: 120px;
    height: 120px;
  }
  .dubai__startups-content .glocal__content-block .__block .__text-block {
    min-height: 100%;
    margin-left: 24px;
  }
  .dubai__startups-content .glocal__content-block .__block .__text-block .__title {
    font-weight: 600;
    font-size: 20px;
  }
  .dubai__startups-content .glocal__content-block .__block .__text-block .__paragraph {
    max-width: 500px;
    width: 100%;
    margin-bottom: 30px;
    font-size: 14px;
  }
  .dubai__startups-content .glocal__content-block .__block .__text-block .__icon-block {
    max-width: 128px;
    width: 100%;
  }
  .dubai__startups-content .glocal__content-block .__block .__likes-block {
    min-width: 64px;
    width: 100%;
    max-width: 80px;
    height: 40px;
  }
  .dubai__startups-content .glocal__content-block .__block .__likes-block img {
    width: 24px;
  }
  .dubai__startups-content .glocal__content-block .__block .__likes-block span {
    margin-left: 5px;
    font-size: 16px;
  }
  .dubai__startups-content .glocal__content__row-block {
    margin-top: 40px;
    gap: 24px;
  }
  .dubai__startups-content .glocal__content__row-block .glocal__col-block {
    width: 100%;
    max-width: 302px;
    min-width: 0;
    height: auto;
    border-radius: 8px;
    padding: 20px;
  }
  .dubai__startups-content .glocal__content__row-block .glocal__col-block .__logo {
    width: 64px;
  }
  .dubai__startups-content .glocal__content__row-block .glocal__col-block .__glocal-ul {
    margin-top: 25px;
  }
  .dubai__startups-content .glocal__content__row-block .glocal__col-block .__glocal-ul .__glocal-list {
    font-weight: 500;
    font-size: 14px;
  }
  .dubai__startups-content .glocal__content__row-block .glocal__col-block .__glocal-ul .__glocal-list:first-child {
    margin-right: 25px;
  }
  .dubai__startups-content .glocal__content__row-block .glocal__col-block .__glocal-text {
    font-size: 22px;
    margin-top: 12px;
  }
  .dubai__startups-content .glocal__content-block .__about-block .__about-title {
    font-size: 24px;
  }
  .dubai__startups-content .glocal__content-block .__about-paragraph {
    font-size: 16px;
  }
  .dubai__startups-content .glocal__content-block .__about-block img {
    max-width: 320px;
    width: 100%;
  }
  .dubai__startups-content .glocal__content-block .__events-block h2 {
    font-size: 22px;
  }
  .dubai__startups-content .glocal__content-block .__events-block .news__data-content .__data, .dubai__startups-content .glocal__content-block .__events-block .news__data-content .__authour {
    font-size: 14px;
  }
  .dubai__startups-content .glocal__content-block .__shop-block .events__cart .__col-footer .__footer-likes {
    font-size: 14px;
  }
}
@media (max-width: 1360px) {
  .events__cart:nth-child(2) {
    margin: 0 10px;
  }
  .article__content {
    width: 90%;
    padding: 0 0 0 15px;
  }
  .footer .footer__content {
    padding: 0 0 0 0;
  }
  .footer .footer__content .content__list .__list-block {
    margin-left: 30px;
  }
  .baner__title .baner__main {
    width: 95%;
    align-self: end;
  }
  .baner__title .baner__sec {
    width: 100%;
    align-self: end;
    grid-row-start: 2;
    width: auto;
    max-height: 125%;
  }
  .viktoriia__menu {
    max-width: 380px;
  }
  .victoria__article-content {
    width: 100%;
    padding: 0 24px 0 0;
  }
  .header__viktoriia {
    min-height: 390px;
  }
  .header__viktoriia .header__content {
    margin-top: 80px;
  }
  .apply__block {
    margin-top: 20px;
  }
  .header__dubai-startups {
    min-height: 314px;
  }
  .dubai__startups-content .glocal__content-block .__about-block {
    margin-top: 40px;
  }
  .dubai__startups-content .glocal__content-block .__events__type-dropdown {
    margin-top: 20px;
  }
}
@media (max-width: 1260px) {
  .article__content {
    width: 80%;
  }
  .viktoriia__menu {
    max-width: 260px;
  }
}
@media (max-width: 1100px) {
  .events__cart .news__data-content .__data, .events__cart .news__data-content .__authour {
    font-size: 12px;
  }
  .events__cart h2 {
    font-size: 18px;
  }
  .events__cart p {
    font-size: 14px;
  }
}
@media (max-width: 1000px) {
  .menu {
    display: none;
  }
  .article__content {
    width: 100%;
  }
  .viktoriia__menu {
    display: block;
  }
  .content__wrap-viktoriia {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .victoria__article-content {
    max-width: 688px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .recent__news-block .recent__news-row {
    flex-wrap: wrap;
    gap: 24px;
  }
  .recent__news-block .recent__news-row .__news-col {
    max-width: 332px;
    min-height: 332px;
  }
  .recent__news-block .recent__news-row .__news-col:nth-child(2) {
    margin: 0;
  }
  .viktoriia__menu {
    max-width: none;
    padding: 40px;
  }
  .viktoriia__menu .__menu__column-content .__content-block {
    padding: 20px;
    margin-top: 20px;
  }
  .header__viktoriia {
    min-height: 453px;
  }
  .header__viktoriia .header__content {
    max-width: 688px;
    padding: 0;
  }
  .header__dubai-startups {
    min-height: 314px;
  }
  .dubai__startups-content {
    padding-bottom: 40px;
  }
  .dubai__startups-content .glocal__content__row-block .glocal__col-block {
    max-width: 322px;
  }
  .dubai__startups-content .glocal__content__row-block {
    justify-content: space-between;
  }
  .dubai__startups-content .glocal__content-block .__about-block img {
    width: 40%;
  }
  .dubai__startups-content .glocal__content-block .__about-paragraph {
    max-width: 100%;
  }
  .dubai__startups-content .glocal__content-block .__about-block .__about-title {
    max-width: 100%;
  }
}
@media (max-width: 900px) {
  .head__container {
    display: none;
  }
  .menu__icon-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .menu__icon-content .menu__icon {
    margin-left: 27px;
  }
}
@media (max-width: 768px) {
  .victoria__article-content .article__text-block p {
    max-width: 100%;
  }
  .news__content-block img {
    max-width: 100%;
  }
  .header__viktoriia .nav .nav__content {
    padding: 0 16px;
  }
  .viktoriia__menu {
    padding: 16px;
  }
  .viktoriia__menu .menu__ul {
    margin-top: 80px;
  }
  .viktoriia__menu .__menu-content {
    max-width: 688px;
    width: 100%;
    margin: 0 auto;
  }
  .content__wrap {
    padding: 0 0;
  }
  .nav__content {
    max-width: 100%;
    padding: 0 40px;
  }
  .header__viktoriia .header__content {
    padding: 0 16px;
  }
  .header__content .content__icon-img {
    width: 345px;
  }
  .header__content .content__icon-img img {
    width: 72px;
  }
  .head__container {
    display: none;
  }
  .header__title {
    font-size: 38px;
    max-width: 343px;
  }
  .header__content {
    max-width: 343px;
    padding: 0 0;
    margin-top: 40px;
  }
  .header {
    height: 600px;
  }
  .baner__title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .baner__title .baner__main {
    max-width: 343px;
    width: 100%;
    align-self: center;
    margin-top: 20px;
  }
  .baner__title .baner__sec {
    max-width: 343px;
    width: 100%;
    margin-top: 24px;
    align-self: center;
  }
  .baner__title h1 {
    max-width: 343px;
  }
  .news__content-block {
    flex-direction: column;
    max-width: 343px;
    margin: 24px auto 0 auto;
  }
  .news__block {
    margin-left: 0;
    padding: 24px 16px;
    height: auto;
  }
  .news__content {
    max-width: 343px;
    margin: 80px auto 0 auto;
  }
  .awareness__block .awareness__block-line {
    flex-direction: column;
    align-items: flex-start;
  }
  .awareness__block .awareness__block-line a {
    margin-top: 26px;
  }
  .awareness__block {
    max-width: 343px;
    height: 255px;
    margin: 40px auto 0 auto;
    display: block;
  }
  .awareness__block .awareness__block-line p {
    font-size: 24px;
    line-height: 31px;
    margin-top: 14px;
  }
  .events__content-wrap {
    flex-direction: column;
  }
  .events__content-wrap .events__cart {
    margin-top: 24px;
  }
  .events__content-wrap .events__cart:nth-child(2) {
    margin: 20px 0 0 0;
  }
  .events__content-wrap .events__cart:nth-child(1) {
    margin: 0 0 0 0;
  }
  .events__cart {
    max-width: 343px;
  }
  .footer .footer__content .content__list {
    display: none;
  }
  .footer .footer__content {
    display: block;
    height: auto;
    max-width: 100%;
  }
  .footer .footer__content .content__logo {
    max-width: 100%;
    width: 100%;
  }
  .footer .footer__content .content__logo p {
    display: none;
  }
  .footer_crunch {
    margin-top: 35px;
    display: block;
  }
  .accordion__content {
    display: block;
    max-width: 100%;
  }
  .accordion__content .accordion {
    max-width: 100%;
  }
  .viktoriia__menu .__menu__column-content {
    margin-top: 40px;
  }
  .events__content {
    max-width: 375px;
  }
  .shop__content {
    max-width: 375px;
  }
  .shop__content .awareness__block {
    margin: 40px 0 0 0;
  }
}
.header-active {
  min-height: 705px;
}

@media (max-width: 720px) {
  .victoria__article-content {
    padding: 0 16px;
    max-width: 375px;
  }
  .viktoriia__menu .__menu-content {
    max-width: 375px;
    padding: 0 16px;
  }
  .header__viktoriia .header__content {
    max-width: 375px;
  }
  .header .nav .nav__content {
    max-width: none;
  }
  .viktoriia__menu {
    padding: 40px 16px;
  }
  .recent__news-block .recent__news-row .__news-col {
    max-width: 100%;
  }
  .footer .footer__content {
    max-width: 375px;
  }
  .footer__viktoriia {
    padding: 40px 16px;
  }
  .breadcrumb ul li a {
    display: block;
    width: 50px;
  }
  .dubai__startups-content .glocal__content-block .__block {
    flex-direction: column;
    align-items: flex-end;
  }
  .dubai__startups-content .glocal__content-block .__block .__text-block {
    margin-left: 10px;
  }
  .dubai__startups-content .glocal__content-block .__block .__text-block .__icon-block {
    max-width: 128px;
    width: 100%;
    position: relative;
    top: 30px;
    right: 125px;
  }
  .dubai__startups-content .glocal__content-block .__block .__text-block .__paragraph {
    margin-bottom: 20px;
    margin-top: 5px;
  }
  .dubai__startups-content .glocal__content-block .__block .__block-content {
    flex-direction: row;
  }
  .header__dubai-startups .breadcrumb ul li a {
    display: block;
    width: 56px;
  }
  .dubai__startups-content .glocal__content__row-block .glocal__col-block {
    max-width: 100%;
  }
  .dubai__startups-content {
    padding: 0 16px 40px 16px;
  }
  .dubai__startups-content .glocal__content-block .__about-block {
    flex-direction: column;
    align-items: flex-start;
  }
  .dubai__startups-content .glocal__content-block .__about-block .__about-title {
    margin-left: 0;
    margin-top: 16px;
  }
  .dubai__startups-content .glocal__content-block {
    padding: 0 0 40px 0;
  }
  .dubai__startups-content .glocal__content-block .__about-block img {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .nav__content {
    padding: 0 16px;
  }
  .article__content {
    padding: 0 16px;
  }
  .footer {
    padding: 40px 16px;
  }
}
@media (max-width: 520px) {
  .menu__icon-content .button__cart, .menu__icon-content .button_login {
    display: none;
  }
}
@media (max-width: 380px) {
  .viktoriia__menu .__menu-content {
    padding: 0;
  }
}
@media (max-width: 400px) {
  .mobile__menu {
    max-width: none;
    padding: 24px 16px;
  }
}
@media (max-width: 360px) {
  .content__wrap {
    padding: 0 20px;
  }
  .content__wrap-viktoriia {
    padding: 0;
  }
}