@font-face {
    font-family: 'Inter regular';
    src: url('../fonts/Inter-Regular.eot');
    src: local('Inter Regular'), local('Inter-Regular'),
        url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff'),
        url('../fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter bold';
    src: url('../fonts/Inter-Bold.eot');
    src: local('Inter Bold'), local('Inter-Bold'),
        url('../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Bold.woff2') format('woff2'),
        url('../fonts/Inter-Bold.woff') format('woff'),
        url('../fonts/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
* {
    font-family: 'Inter regular';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.nav {
    width: 100%;
    height: 8.1vh;
    border-bottom: 1px solid #202224;
    display: flex;
    align-items: center;
}
.nav__content {
    padding: 0 2.08vw;

    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    .nav__logo {
        height: 100%;
    }
}
.head__container {
    display: flex;
}
.header {
    background-image: url("../image/header-bg.png");
    min-height: fit-content(20em);
    padding-bottom: 2.08vw;
}
.content__wrap {
    flex: 1 0 auto;

    width: 100%;
    padding: 0 2.08vw;
    margin: 2.08vw auto;
    display: flex;
    justify-content: space-between;
}
.article__content {
    width: 100%;
    h1 {
        font-size: 1.5vw;
        width: 100%;
    }
}
.head__list {
    display: flex;
    align-items: center;
    list-style: none;
    .head__li {
        position: relative;
        margin-left: 1.25vw;
        .list__href {
            text-decoration: none;
            font-size: 0.8vw;
            line-height: 19px;
            color: #FFFFFF;
            &:hover {
                color: rgb(255, 255, 255, 90%);
            }
        }
        &::before {
            content: '';
            display: block;
            width: 0%;
            height: 0.052vw;
            background: #fff;
            position: absolute;
            bottom: -0.26vw;
            transition: .3s;
        }
        &:hover {
            &::before {
                width: 100%;
            }
        }
    }
}
.button__cart {
    text-decoration: none;
    margin-left: 1.25vw;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 5.3vw;
    height: 2.08vw;
    color: #fff;
    font-size: 0.83vw;
    line-height: 19px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 1vw;
        position: relative;
        left: -0.52vw;
    }
}
.button_login {
    margin-left: 0.41vw;
    width: 3.28vw;
    height: 2.08vw;
    background: #02B6FB;
    border-radius: 4px;
    text-decoration: none;
    font-size: 0.83vw;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: #FFFFFF;
}
.list_menu {
    display: none;
    grid-row-start: 2;
    justify-self: end;
    text-align: right;

    grid-column-start: 2;
    margin-top: -15px;
    .head__li {
        margin-top: 5px;
    }
}
.list__menu-active {
    display: block;
}
.nav__active {
    align-items: flex-start;
    height: 200px;
}
.nav__content-active {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75px 1fr;
}
.header-active {
    min-height: 705px;
}
.menu__icon {
    justify-self: end;
    color: #fff;
    cursor: pointer;
    font-size: 24px !important;
}
.menu__icon-content {
    display: none;
}
.header__title {
    font-size: 2.9vw;
    line-height: 100%;
    letter-spacing: -0.04em;
    
    color: #FFFFFF;
    font-family: 'Inter bold';
    width: 100%;
}
.header__content {
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
    margin-top: 80px;
    .content__icon-img {
        margin-top: 80px;
        display: flex;
        flex-wrap: wrap;
        gap: 14px; 
    }
}
.menu {
    width: 14vw;
    .menu__ul {
        list-style: none;
    }
    .menu__list {
        margin-top: 0.83vw;
        a {
            &:first-child {
            margin-top: 0;
            }
        }
    }
    .munu__href {
        font-weight: 600;
        font-size: 1.25vw;
        line-height: 110%;
        letter-spacing: -0.04em;
        position: relative;
        
        color: #000000;

        text-decoration: none;
        &::before {
            content: '';
            display: block;
            width: 0%;
            height: 2px;
            border-bottom: 2px;
            background: #000;
            position: absolute;
            bottom: -5px;
            transition: .3s;
        }
        &:hover {
            &::before {
                width: 100%;
            }
        }
    }
}
.baner__title {
    width: 100%;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 0 1fr; 
    .baner__sec {
        grid-column-start: 2;
        justify-self: end;

        grid-row-start: 2;
        display: block;
        width: 100%;
        align-self: stretch;
        img {
            width: 100%;
        }
    }
    h1 {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .baner__main {
        align-self: stretch;
        grid-column-start: 1;
        grid-row-start: 2;
        align-self: end;
        width: 95%;
    }
}
.news__content {
    margin-top: 4.16vw;
    h2 {
        font-size: 1.458vw;
        line-height: 110%;
        letter-spacing: -0.04em;
        
        color: #000000;
    }
    hr {
        margin-top: 0.62vw;
    }
}
.news__content-block {
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 8px;
    margin-top: 2.08vw;
    display: flex;
    img {
        width: 16.7vw;
    }
}
.news__data-content {
    display: flex;
    .__data {
        font-weight: 500;
        font-size: 0.72vw;
        line-height: 150%;
        letter-spacing: -0.04em;
        
        color: #B4B4B4;
    }
    .__authour {
        margin-left: 1.25vw;
        font-weight: 500;
        font-size: 0.72vw;
        line-height: 150%;
        letter-spacing: -0.04em;
        
        color: #000000;
    }
}
.news__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.25vw;
    .news__link {
        font-weight: 500;
        font-size: 0.72vw;
        line-height: 110%;
        letter-spacing: -0.04em;
        
        color: #38B4E3;
        text-decoration: none;
        margin-top: 1.25vw;
    }
    .news__block-title {
        font-size: 1.14vw;
        line-height: 110%;
        font-weight: 600;
        letter-spacing: -0.04em;
        margin-top: 0.62vw;
        
        color: #000000;
        max-width: 18.2vw;
        width: 100%;
    }
    .news__block_sub-title {
        font-weight: 400;
        font-size: 0.83vw;
        line-height: 140%;
        letter-spacing: -0.02em;
        
        color: #000000;
        margin-top: 1.25vw;
        max-width: 38.69vw;
        width: 100%;
    }
}
.awareness__block {
    padding: 1.25vw;
    margin-top: 2.08vw;
    background: url("../image/awareness-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 0.41vw;
    height: 10vw;
    width: 100%;
    .awareness__block-line {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        p {
            font-weight: 600;
            font-size: 1.66vw;
            line-height: 2.03125vw;
            letter-spacing: -0.04em;
            
            color: #FFFFFF;
            max-width: 31.25vw;
            width: 100%;
        }
        a {
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 0.83vw;
            line-height: 0.98vw;
            letter-spacing: -0.04em;
            
            color: #FFFFFF;
            text-decoration: none;
            img {
                margin-left: 0.93vw;
            }
        }
    }
}
.events__content-wrap {
    margin-top: 4.17vw;
    display: flex;
    justify-content: space-between;
}
.events__cart {
    border: 1px solid #EDEDED;
    border-radius: 0.83vw;
    max-width: 36.2vw;
    width: 100%;
    height: auto;
    img {
        width: 100%;
    }
    h2 {
        font-size: 2.29vw;
        line-height: 120%;
        letter-spacing: -0.04em;
        
        color: #222222;
        margin: 2.08vw 2.08vw 1.67vw 2.08vw;
    }
    p {
        margin: 0 2.08vw 2.08vw 2.08vw;
        font-size: 0.83vw;
        line-height: 140%;
        letter-spacing: -0.02em;
        
        color: #000000;
    }
    .news__data-content {
        margin-top: -0.52vw;
        background: #000000;
        height: 4.69vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2.08vw;
        .__data {
            font-size: 1.46vw;
            line-height: 150%;
            letter-spacing: -0.04em;
            
            color: #FFFFFF;
        }
        .__authour {
            font-size: 1.46vw;
            line-height: 150%;
            letter-spacing: -0.04em;
            
            color: #FFFFFF;
        }
    }
    &:nth-child(2) {
        margin: 0 1.25vw;
    }
}
.startups__content .news__content-wrap .news__block .news__block-title {
    max-width: 43.8vw;
}
.startups__content .news__content-wrap .news__content-block {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2.50vw 0;
    margin-top: 2.50vw;
    img {
        height: 16.7vw;
    }
}
.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 4.17vw;
    flex: 0 0 auto;
    background: #fff;
    width: 100%;
    height: 40.7vw;
    padding: 4.17vw 4.17vw 1.67vw 4.17vw;
    .footer__content {
        padding: 0 4.17vw;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        .content__logo {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            height: 100%;
        }
        .content__list {
            display: flex;
            .__list-block {
                margin-left: 7.82vw;
                list-style: none;
                .__item-title {
                    margin-top: 0;
                    font-weight: 600;
                    font-size: 1.67vw;
                    line-height: 1.98vw;
                    
                    margin-top: 1.67vw;
                    color: #000000;
                }
                .__item {
                    margin-top:  1.67vw;
                    a {
                        font-weight: 400;
                        font-size:  1.67vw;
                        line-height: 1.98vw;
                        
                        color: #000000;
                        text-decoration: none;
                        &:hover {
                            color: #1D40F3;
                        }
                    }
                }
            }
        }
    }
}
.footer_crunch, .accordion__content {
    display: none;
}
.accordion__content {
    max-width: 343px;
    width: 100%;
    margin: 0 auto;
    margin-top: 45px;
}
.accordion {
    max-width: 343px;
    width: 100%;
    background: none;
    cursor: pointer;
    padding: 15px 10px;
    font-weight: 600;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 18px;
    line-height: 1.98vw;
    
    color: #000;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover {
        color: #000000a8;
    }
  }
  .panel {
    padding: 1.87vw;
    background-color: white;
    display: none;
    overflow: hidden;
    height: auto;
    min-height:  10.4vw;
    .__list-block {
        margin-left: 2.60vw;
        list-style: none;
        .__item-title {
            margin-top: 0;
            font-weight: 600;
            font-size: 16px;
            line-height: 1.98vw;
            
            margin-top: 1.67vw;
            color: #000000;
        }
        .__item {
            margin-top: 10px;
            a {
                font-weight: 400;
                font-size: 16px;
                line-height: 1.98vw;
                
                color: #000000;
                text-decoration: none;
            }
        }
    }
  }
@media(max-width:1440px) {
    .nav__content {
        padding: 0 40px;
        .nav__logo {
            width: 220px;
        }
    }
    .head__list .head__li .list__href {
        font-size: 16px;
    }
    .nav {
        height: 77px;
    }
    .nav__active {
        align-items: flex-start;
        height: 200px;
    }
    .button__cart {
        width: 103px;
        height: 40px;
        font-size: 16px;
        line-height: 19px;
        margin-left: 24px;
    }
    .button_login {
        width: 63px;
        height: 40px;
        font-size: 16px;
        line-height: 19px;
        margin-left: 8px;
    }
    .button__cart img {
        width: 20px;
    }
    .header__title {
        font-size: 56px;
    }
    .head__list .head__li {
        margin-left: 24px;
    }
    .content__wrap {
        padding: 0 40px;
    }
    .content__wrap {
        margin: 40px auto;
    }
    .article__content h1 {
        font-size: 32px;
    }
    .menu .munu__href {
        font-size: 24px;
    }
    .menu {
        width: 270px;
    }
    .menu .menu__list {
        margin-top: 16px;
    }
    .news__content h2 {
        font-size: 28px;
    }
    .news__data-content .__data, .news__data-content .__authour {
        font-size: 14px;
    }
    .news__block .news__link {
        font-size: 14px;
    }
    .news__block .news__block-title {
        font-size: 22px;
        max-width: 337px;
    }
    .news__block .news__block_sub-title {
        font-size: 16px;
        margin-top: 24px;
        max-width: 90%;
    }
    .startups__content .news__content-wrap .news__content-block img {
        max-height: 320px;
        min-height: 240px;
        max-width: none;
        height: auto;
        width: auto;
    }
    .awareness__block {
        height: 192px;
        padding: 24px;
        .awareness__block-line {
            margin-top: 24px;
            p {
                line-height: 39px;
                font-size: 32px;
                max-width: 600px;
            }
            a {
                font-size: 16px;
                line-height: 19px;
                img {
                    margin-left: 8px;
                }
            }
        }
    }
    .news__content-block img {
        max-width: 322px;
        width: 100%;
    }
    .events__cart {
        h2 {
            margin: 20px 20px 16px 20px;
        }
        p {
            margin: 0 20px 20px 20px;
            font-size: 16px;
        }
        .news__data-content {
            height: 45px;
            padding: 0 20px;
        }
        .news__data-content {
            margin-top: -10px;
        }
    }
    .events__cart .news__data-content .__data, .events__cart .news__data-content .__authour {
        font-size: 14px;
    }
    .startups__content .news__content-wrap .news__block .news__block-title {
        max-width: 450px;
        width: 100%;
        margin-top: 12px;
    }
    .header {
        min-height: 580px;
        .header__content .content__icon-img img {
            gap: 12px;
        }
    }
    .news__block .news__link {
        margin-top: 24px;
    }
    .footer {
        padding: 40px 40px 20px 40px;
        .footer__content {
            padding: 0 0 0 0;
        }
    }
}
@media(max-width:1360px) {
    .events__cart:nth-child(2) {
        margin: 0 10px;
    }
    .article__content {
        width: 90%;
        padding: 0 0 0 15px;
    }
    .footer .footer__content {
        padding: 0 0 0 0;
    }
    .footer .footer__content .content__list .__list-block {
        margin-left: 30px;
    }
    .baner__title .baner__main {
        width: 95%;
        align-self: end;
    }
    .baner__title .baner__sec {
        width: 100%;
        align-self: end;
        grid-row-start: 2;
        width: auto;
        max-height: 125%;
    }
} 
@media(max-width:1260px) {
    .article__content {
        width: 80%;
    }
}
@media(max-width:1100px) {
    .events__cart .news__data-content .__data, .events__cart .news__data-content .__authour {
        font-size: 12px;
    }
    .events__cart h2 {
        font-size: 18px;
    }
    .events__cart p {
        font-size: 14px;
    }
}
@media(max-width:1000px) {
    .menu {
        display: none;
    }
    .article__content {
        width: 100%;
    }
} 
@media(max-width:900px) {
    .head__container {
        display: none;
    }
    .menu__icon-content {
        display: flex;
        justify-content: flex-end;
    }
}
@media(max-width:768px) {
    .news__content-block img {
        max-width: 100%;
    }
    .content__wrap {
        padding: 0 0;
    }
    .nav__content {
        max-width: 343px;
        padding: 0 0;
    }
    .article__content {
        padding: 0 0 0 0;
    }
    .header__content .content__icon-img {
        width: 345px;
        img {
            width: 72px;
        }
    }
    .head__container {
        display: none;
    }
    .header__title {
        font-size: 38px;
        max-width: 343px;
    }
    .header__content {
        max-width: 343px;
        padding: 0 0;
    }
    .header {
        height: 600px;
    }
    .baner__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        .baner__main {
            max-width: 343px;
            width: 100%;
            align-self: center;
            margin-top: 20px;
        }
        .baner__sec {
            max-width: 343px;
            width: 100%;
            margin-top: 24px;
            align-self: center;
        }
        h1 {
            max-width: 343px;
        }
    }
    .news__content-block {
        flex-direction: column;
        max-width: 343px;
        margin: 24px auto 0 auto;
    }
    .news__block {
        margin-left: 0;
        padding: 24px 16px;
        height: auto;
    }
    .news__content {
        max-width: 343px;
        margin: 80px auto 0 auto;
    }
    .awareness__block .awareness__block-line {
        flex-direction: column;
        align-items: flex-start;
        a {
            margin-top: 26px;
        }
    }
    .awareness__block {
        max-width: 343px;
        height: 255px;
        margin: 40px auto 0 auto;
        display: block;
        .awareness__block-line p  {
            font-size: 24px;
            line-height: 31px;
            margin-top: 14px;
        }
    }
    .events__content-wrap {
        flex-direction: column;
        .events__cart {
            margin-top: 24px;
            &:nth-child(2) {
                margin: 20px 0 0 0;
            }
            &:nth-child(1) {
                margin: 0 0 0 0;
            }
        }
    }
    .events__cart {
        max-width: 343px;
    }
    .footer .footer__content .content__list {
        display: none;
    }
    .footer .footer__content {
        display: block;
        height: auto;
        max-width: 343px;
    }
    .footer .footer__content .content__logo {
        max-width: 343px;
        width: 100%;
        p {
            display: none;
        }
    }
    .footer_crunch {
        margin-top: 50px;
        display: block;
    }
    .accordion__content {
        display: block;
    }
} 
.header-active {
    min-height: 705px;
}
@media(max-width:360px) {
    .content__wrap {
        padding: 0 20px;
    }
}