@font-face {
    font-family: 'Inter regular';
    src: url('../fonts/Inter-Regular.eot');
    src: local('Inter Regular'), local('Inter-Regular'),
        url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff'),
        url('../fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter bold';
    src: url('../fonts/Inter-Bold.eot');
    src: local('Inter Bold'), local('Inter-Bold'),
        url('../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Bold.woff2') format('woff2'),
        url('../fonts/Inter-Bold.woff') format('woff'),
        url('../fonts/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
* {
    font-family: 'Inter regular';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.nav {
    width: 100%;
    height: 77px;
    border-bottom: 1px solid #202224;
    display: flex;
    align-items: center;
}
.nav__content {
    padding: 0 40px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head__container {
    display: flex;
}
.header {
    background-image: url("../image/header-bg.png");
    min-height: 500px;
}
.content__wrap {
    flex: 1 0 auto;

    max-width: 1440px;
    width: 100%;
    padding: 0 40px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}
.article__content {
    width: 100%;
    h1 {
        max-width: 534px;
        width: 100%;
    }
}
.head__list {
    display: flex;
    align-items: center;
    list-style: none;
    .head__li {
        margin-left: 24px;
        .list__href {
            text-decoration: none;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            &:hover {
                color: rgb(255, 255, 255, 90%);
            }
        }
    }
}
.button__cart {
    text-decoration: none;
    margin-left: 24px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 103px;
    height: 40px;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 20px;
        position: relative;
        left: -10px;
    }
}
.button_login {
    margin-left: 8px;
    width: 63px;
    height: 40px;
    background: #02B6FB;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: #FFFFFF;
}
.header__title {
    font-size: 56px;
    line-height: 100%;
    letter-spacing: -0.04em;
    
    color: #FFFFFF;
    font-family: 'Inter bold';
    width: 100%;
    max-width: 436px;
}
.header__content {
    max-width: 1440px;
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
    margin-top: 80px;
    .content__icon-img {
        margin-top: 80px;
        display: flex;
        flex-wrap: wrap;
        gap: 14px; 
    }
}
.menu {
    width: 270px;
    .menu__ul {
        list-style: none;
    }
    .menu__list {
        margin-top: 16px;
        &:first-child {
            margin-top: 0;
        }
    }
    .munu__href {
        font-weight: 600;
        font-size: 24px;
        line-height: 110%;
        letter-spacing: -0.04em;
        
        color: #000000;

        text-decoration: none;
    }
}
.baner__title {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 95px 430px; 
    .baner__sec {
        grid-column-start: 2;
        justify-self: end;
    }
    h1 {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .baner__main {
        grid-column-start: 1;
        grid-row-start: 2;
    }
}
.news__content {
    margin-top: 80px;
    h2 {
        font-size: 28px;
        line-height: 110%;
        letter-spacing: -0.04em;
        
        color: #000000;
    }
    hr {
        margin-top: 12px;
    }
}
.news__content-block {
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 8px;
    margin-top: 40px;
    display: flex;
}
.news__data-content {
    display: flex;
    .__data {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.04em;
        
        color: #B4B4B4;
    }
    .__authour {
        margin-left: 24px;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.04em;
        
        color: #000000;
    }
}
.news__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 24px;
    .news__link {
        font-weight: 500;
        font-size: 14px;
        line-height: 110%;
        letter-spacing: -0.04em;
        
        color: #38B4E3;
        text-decoration: none;
        margin-top: 24px;
    }
    .news__block-title {
        font-size: 22px;
        line-height: 110%;
        font-weight: 600;
        letter-spacing: -0.04em;
        margin-top: 12px;
        
        color: #000000;
        max-width: 350px;
        width: 100%;
    }
    .news__block_sub-title {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.02em;
        
        color: #000000;
        margin-top: 24px;
        max-width: 743px;
        width: 100%;
    }
}
.awareness__block {
    padding: 24px;
    margin-top: 40px;
    background: url("../image/awareness-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 8px;
    height: 192px;
    width: 100%;
    .awareness__block-line {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        p {
            font-weight: 600;
            font-size: 32px;
            line-height: 39px;
            letter-spacing: -0.04em;
            
            color: #FFFFFF;
            max-width: 600px;
            width: 100%;
        }
        a {
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: -0.04em;
            
            color: #FFFFFF;
            text-decoration: none;
            img {
                margin-left: 18px;
            }
        }
    }
}
.events__content-wrap {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.events__cart {
    border: 1px solid #EDEDED;
    border-radius: 8px;
    max-width: 347px;
    width: 100%;
    height: auto;
    img {
        width: 100%;
    }
    h2 {
        font-size: 22px;
        line-height: 120%;
        letter-spacing: -0.04em;
        
        color: #222222;
        margin: 20px 20px 16px 20px;
    }
    p {
        margin: 0 20px 20px 20px;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.02em;
        
        color: #000000;
    }
    .news__data-content {
        margin-top: -5px;
        background: #000000;
        height: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        .__data {
            font-size: 14px;
            line-height: 150%;
            letter-spacing: -0.04em;
            
            color: #FFFFFF;
        }
        .__authour {
            font-size: 14px;
            line-height: 150%;
            letter-spacing: -0.04em;
            
            color: #FFFFFF;
        }
    }
}
.startups__content .news__content-wrap .news__block .news__block-title {
    max-width: 420px;
}
.startups__content .news__content-wrap .news__content-block {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 24px 0;
    margin-top: 24px;
    img {
        height: 230px;
    }
}
.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    flex: 0 0 auto;
    background: #fff;
    width: 100%;
    height: 390px;
    padding: 40px 40px 16px 40px;
    .footer__content {
        padding: 0 40px;
        max-width: 1440px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        .content__logo {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            height: 100%;
        }
        .content__list {
            display: flex;
            .__list-block {
                margin-left: 75px;
                list-style: none;
                .__item-title {
                    margin-top: 0;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                    
                    margin-top: 16px;
                    color: #000000;
                }
                .__item {
                    margin-top: 16px;
                    a {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        
                        color: #000000;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
.footer_crunch, .accordion__content {
    display: none;
}
.accordion__content {
    max-width: 343px;
    width: 100%;
    margin: 0 auto;
    margin-top: 45px;
}
.accordion {
    max-width: 343px;
    width: 100%;
    background: none;
    cursor: pointer;
    padding: 18px;
    font-weight: 600;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 16px;
    line-height: 19px;
    
    color: #000;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover {
        color: #000000a8;
    }
  }
  .panel {
    padding: 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    height: auto;
    min-height: 100px;
    .__list-block {
        margin-left: 45px;
        list-style: none;
        .__item-title {
            margin-top: 0;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            
            margin-top: 16px;
            color: #000000;
        }
        .__item {
            margin-top: 16px;
            a {
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                
                color: #000000;
                text-decoration: none;
            }
        }
    }
  }
@media(max-width:1440px) {
    .header {
        min-height: 580px;
        .header__content .content__icon-img img {
            gap: 12px;
        }
    }
}
@media(max-width:1360px) {
    .events__cart:nth-child(2) {
        margin: 0 10px;
    }
    .article__content {
        width: 90%;
        padding: 0 0 0 15px;
    }
    .footer .footer__content {
        padding: 0 0 0 0;
    }
    .footer .footer__content .content__list .__list-block {
        margin-left: 30px;
    }
    .baner__title {
        grid-template-rows: 95px 360px;
    }
    .baner__title .baner__main {
        width: 95%;
        align-self: end;
    }
    .baner__title .baner__sec {
        width: 100%;
        align-self: end;
        grid-row-start: 2;
        width: auto;
        max-height: 125%;
    }
} 
@media(max-width:1260px) {
    .article__content {
        width: 80%;
    }
}
@media(max-width:1100px) {
    .events__cart .news__data-content .__data, .events__cart .news__data-content .__authour {
        font-size: 12px;
    }
    .events__cart h2 {
        font-size: 18px;
    }
    .events__cart p {
        font-size: 14px;
    }
}
@media(max-width:1000px) {
    .menu {
        display: none;
    }
    .article__content {
        width: 100%;
    }
} 
@media(max-width:900px) {
    .head__container {
        display: none;
    }
}
@media(max-width:768px) {
    .header__content .content__icon-img {
        width: 345px;
        img {
            width: 72px;
        }
    }
    .head__container {
        display: none;
    }
    .header__title {
        font-size: 38px;
        max-width: 343px;
    }
    .header__content {
        max-width: 343px;
        padding: 0 0;
    }
    .header {
        height: 600px;
    }
    .baner__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        .baner__main {
            max-width: 343px;
            width: 100%;
            align-self: center;
            margin-top: 20px;
        }
        .baner__sec {
            max-width: 343px;
            width: 100%;
            margin-top: 24px;
        }
        h1 {
            max-width: 343px;
        }
    }
    .news__content-block {
        flex-direction: column;
        max-width: 343px;
        margin: 24px auto 0 auto;
    }
    .news__block {
        margin-left: 0;
        padding: 24px 16px;
        height: auto;
    }
    .news__content {
        max-width: 343px;
        margin: 80px auto 0 auto;
    }
    .awareness__block .awareness__block-line {
        flex-direction: column;
        align-items: flex-start;
        a {
            margin-top: 26px;
        }
    }
    .awareness__block {
        max-width: 343px;
        height: 255px;
        margin: 40px auto 0 auto;
        display: block;
        .awareness__block-line p  {
            font-size: 24px;
            line-height: 31px;
            margin-top: 14px;
        }
    }
    .events__content-wrap {
        flex-direction: column;
        .events__cart {
            margin-top: 24px;
            &:nth-child(2) {
                margin: 20px 0 0 0;
            }
            &:nth-child(1) {
                margin: 0 0 0 0;
            }
        }
    }
    .footer .footer__content .content__list {
        display: none;
    }
    .footer .footer__content {
        display: block;
        height: auto;
        max-width: 343px;
    }
    .footer .footer__content .content__logo {
        max-width: 343px;
        width: 100%;
        p {
            display: none;
        }
    }
    .footer_crunch {
        margin-top: 50px;
        display: block;
    }
    .accordion__content {
        display: block;
    }
} 